

#outerbody {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(199, 169, 255)); color: black;
}

.img-fluid-pfp {
    width: 50%;
    display: block;
    margin: auto;
}

.history-carousel {
    width: 50%;
    display: block;
    margin-right: 2%;
    margin-bottom: 2%;
}

.mini-images {
    width: 8%;
    margin-right: 5px;
}

.quarter-sized-button {
    width: 25%;
    display: block;
    margin: auto;
    /* margin-top: 25%; */
}

.centered-logo {
    display: block;
    text-align: center;
}

.center-vertically {
    margin-top: 10%;
}

a:link {
    color: black;
}
a:visited {
    color: purple;
}
a:hover {
    color: green;
}